<!DOCTYPE html>
<html>
    <header>
        <title>데이터 수정</title>
    </header>
    <body>
        <h1>메뉴를 수정하자!</h1>
        <hr/>
        <form method="POST">
            <fieldset>
                <legend>수정할 메뉴</legend>
                <table>
                    <tr>
                        <td><label>메뉴명</label></td>
                        <td><input type="text" name="name" value="<%= data.name %>"/></td>
                    </tr>
                    <tr>
                        <td><label>메뉴 가격</label></td>
                        <td><input type="text" name="price" value="<%= data.price %>"/></td>
                    </tr>
                </table>
                <input type="submit"/>
            </fieldset>
        </form>

    </body>

</html>